DATABRICKS_TOKEN=
DATABRICKS_HOST=
DATABRICKS_BASE_URL=

LANGCHAIN_TRACING_V2=true or false
LANGCHAIN_PROJECT=
LANGCHAIN_API_KEY=

WEATHER_API_KEY=

GOOGLE_CALENDAR_CRED_FILE_PATH=
GOOGLE_CALENDAR_TOKEN_FILE_PATH=

VECTOR_INDEX_DB_PATH=

VERTEX_API_KEY=

PLAYWRIGHT_BROWSERS_PATH=0

GOOGLE_CALENDAR_ID=
GOOGLE_CALENDAR_IDS_TO_CHECK=

PROPOSALS_URL=
MODEL_ENDPOINT=ollama #(or databricks / vertex / ollama)
OLLAMA_MODEL=
DATABRICKS_MODEL=
VERTEX_MODEL=
